<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<div>
		<a th:href="@{/form}">+ADD BOOK</a>
		<table>
			<thead>
				<tr>
					<th>Book ID</th>
					<th>Book Name</th>
					<th>Author Name</th>
					<th>Book Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Book: ${k}">
					<td th:text="${Book.bookId}"></td>
					<td th:text="${Book.bookId}"></td>
					<td th:text="${Book.authorName}"></td>
					<td th:text="${Book.bookId}"></td>
				</tr>
				<!-- </c:forEach> -->
			</tbody>

		</table>
	</div>
</body>

</html>